<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Einkaufsliste</title>
</head>
<body>
    {% now "jS F Y H:i" %}
    <br></br>
    <h5 class=jumbotron>Verfügbare Listen:</h5>
    <ul>
        {% for liste in listen %}
        <li><a href="{% url 'liste' liste.id %}"></a>{{liste.name}}</a></li>
        {% endfor %}
        <li>
            <form action="{% url 'liste_anlegen' %}" method="post">
                {% csrf_token %}
                <input type="text" name ="liste_name">
                <input type="submit" value="Neue Liste"> 
            </form>
        </li>
    </ul>
</body>
</html>